@define-color accent_color #305E96
@define-color accent_fg_color #784FAC;
@define-color accent_bg_color #305E96
@define-color window_bg_color #9A999D;
@define-color window_fg_color #63646A;
@define-color headerbar_bg_color #9A999D;
@define-color headerbar_fg_color #63646A;
@define-color popover_bg_color #9A999D;
@define-color popover_fg_color #63646A;
@define-color view_bg_color #ABAAAE
@define-color view_fg_color #63646A;
@define-color card_bg_color #ABAAAE
@define-color card_fg_color #63646A;
@define-color sidebar_bg_color @window_bg_color;
@define-color sidebar_fg_color @window_fg_color;
@define-color sidebar_border_color @window_bg_color;
@define-color sidebar_backdrop_color @window_bg_color;
