layout {
    gaps 12
    empty-workspace-above-first
    center-focused-column "never"
    always-center-single-column
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }
    default-column-width {
        proportion 0.5
    }
    focus-ring {
        off
    }
    border {
        on
        width 1.5
        // active-color "#ffc87f"
        // inactive-color "#505050"
        urgent-color "#9b0000"
        active-gradient from="#5C5498" to="#655CaC" angle=45 relative-to="workspace-view" in="oklch"
        inactive-gradient from="#282450" to="#2B2757" angle=-45 relative-to="workspace-view"
    }
    shadow {
        on
        draw-behind-window false
        softness 5
        spread 1
        offset x=0 y=0
        color "#453C8Cf3"
        inactive-color "#28245099"
    }
    struts {}
    background-color "transparent"
}
prefer-no-csd
