window-rule {
    match app-id="^zen$"
    match title="jellyfin-tui"
    match app-id="vesktop"
    open-maximized true
}
window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#
    block-out-from "screen-capture"
}
window-rule {
    geometry-corner-radius 2
    clip-to-geometry true
}

